* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.hero__section {
    background: url(./images/heroSectionBackground.png);
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    color: white;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    height: 60px;
}

.navbar a {
    color: white;
    text-decoration: none;

}

.navbar__menu_container {
    display: flex;
    gap: 20px;
}


.hero__section_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    height: calc(60vh - 60px)
}

.hero__section_logo {
    width: 200px;
    height: auto;

}

.hero__section_title {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    /* border: 2px soliz2d red; */
}

.hero__section_input_container {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* 50% of total width */
    width: 50%;
    border-radius: 10px;
    flex-direction: row;
}

.input_contatiner_location,
.input_contatiner_search {
    padding: 5px;
    border: none;
    outline: none;

}

.input_contatiner_search {
    width: 65%;
}

.input_contatiner_location {
    width: 35%;
    border-right: 2px solid #e0e0e0;
}

.navbar__menu_container .user_icon {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 1px white;
    display: none;
}

@media only screen and (max-width:600px) {
    .navbar__menu_container .link {
        display: none;
    }

    .navbar{
        padding: 16px;
    }

    .navbar__menu_container .user_icon {
        display: flex;
    }

    .hero__section{
        min-height: 80vh;
    }

    .hero__section_input_container{
         flex-direction: column;
         background-color: transparent;
         width: 100%;
    }

    .input_contatiner_location,
    .input_contatiner_search {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 80%;

    }

    .hero__section_container{
        height: calc(80vh-60px);
    }

    .hero__section_title{
        font-size: 20px;
    }

}

.container{
    margin: 48px auto;
    width: 80%;
    /* border: 2px solid red; */

}

.we_offer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

}

.we_offer .card{
    border-radius: 10px;
    border: 1px solid #e0e0e0;

    /* this is for rounded corner of the image */
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}

.we_offer .card:hover{
    transform: scale(1.05);
    
}


.we_offer .card img{
    width: 240px;
    height: 140px;
    object-fit: cover;
    object-position: center;
}

.we_offer .card h2{
   padding:0 10px;
   font-size: 15px;
   font-weight: 500;

}
.we_offer .card p{
    padding: 0px 10px 10px 10px;
    font-size: 10px;
    /* font-weight: 400; */
    
 }

 /* 3rd section */
 .collection h1{
     font-weight: 600;
 }

 .collection .sub__heading_container{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
 }

 .sub__heading_container span:nth-child(2){
    color: #ff7e8b;
    font-size: 13px;

 }

 .collection__card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 24px;
 }

 .collection__card_container .card{
    height: 300px;
    min-width:240px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
 }

 .card1{
    background: url(./images/collection1.jpg);
 }
 .card2{
    background: url(./images/collection2.jpg);
 }
 .card3{
    background: url(./images/collection3.jpg);
 }
 .card4{
    background: url(./images/collection4.jpg);
 }

.overlay{
    width:100%;
    height: 100%;
    display:absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(0deg, 
    rgba(0,0,0,0.9) 0% ,
    rgba(0,0,0,0.05) 50%,
    rgba(0,0,0,0.05) 85%);
}
 
.collection__card_container .card .content{
    position:absolute;
    bottom: 0;
    left: 0;
    color:white;
    padding:12px 16px;
    font-size: 14px;
}

.get__the_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 237, 220);
    width: 100%;
    padding: 3rem 6rem;
}

.get__the_app .semicontainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.get__the_app .semicontainer .left{
    flex:2;
}

.get__the_app .semicontainer .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.get__the_app .semicontainer .right{

    /* this flex  property is come from parent */
    flex:3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right h1{
    font-weight: 600;
    font-size: 32px;
}

.right p{
    font-size: 15px;
    color: rgb(73, 73, 73);
}

.radio_button_container{
   display: flex;
   /* justify-content: center; */
   gap: 24px;
   align-items: center;

}

.semicontainer .right .radio_button_container div{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   
}

.right .radio_button_container div input{
    /* this is the size of the circle */
    height: 15px;
    width: 15px;
    /* and this is for the color of circle */
    accent-color: rgb(239,79,95);
}

.semicontainer .right .input_container{
    display: flex;
    gap: 8px;
}

.input_container button,
.input_container input{
    padding: 10px 12px; 

}
.input_container button{
    border: none;
    background-color: rgb(239,79,95);
    color:white;
    border-radius: 5px;
    cursor: pointer;
}

.input_container input{
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
    flex: auto;
}

.right .download__app_container{
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.right .download__app_container h1{
    font-size:15px;
    color: rgb(73, 73, 73);
    
}

.download__app_container div{
    display: flex;
    gap: 16px;

}
.download__app_container div img{
    width: 35%;
}

@media only screen and (max-width: 1300px){
    .get__the_app .semicontainer .left{
        flex:1;
    }

    .get__the_app .semicontainer .right{
        flex: 1;
    }

    .get__the_app .semicontainer{
        width: 80%;
    }
}

@media only screen and (max-width:900px){
    .get__the_app{
        padding: 32px;
    }

    .get__the_app .semicontainer{
        width:90%;
    }
}

@media only screen and (max-width:700px){
    .get__the_app{
        padding: 3rem 0;
    }
    .get__the_app .semicontainer{
        width:80%;
        flex-direction: column;
    }
}

@media only screen and (max-width:410px){
    .right h1{
        font-weight: 600;
        font-size: 25px;
    }
    .input_container input,
    .input_container button{
        padding: 5px 8px; 

    }
}


.footer{
    width: 100%;
    background:rgb(248,248,248);
}

.footer_section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    width: 80%;
    margin:auto;
}

.footer_section1 img{
    width: 120px;
}

.section1_buttonContainer{
    display: flex;
    gap: 16px;

}
.section1_buttonContainer button{
    padding: 5px;
    width: 90px;
    border:1px solid gray;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.navigation_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    margin:auto;
    padding:3rem 0;
}

.link_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link_container h5{
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}

.footer_link{
    text-decoration: none;
    color:gray;
    font-size: 13px;
    font-weight: 300;
}

.footer_link:hover{
    color:black;
}

.social_link_container{
    display: flex;
    gap: 0.7rem
}

.social_link_container button{
    background: black;
    border:none;
    width:25px;
    height: 25px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social_link_container button i{
    color:white;
    font-size: 14px;

}


/* image logo*/
.footer_store_logos{
  width: 70%;
}


@media only screen and (max-width:900px){
    .navigation_container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width:600px) {
    .navigation_container{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width:450px) {

    .footer_section1{
        flex-wrap: wrap;
        gap: 24px;
    }
    .navigation_container{
        grid-template-columns: 1fr;
    }
}